*{
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;

}
.header{
    min-height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position:relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 6%;
    position: relative;
}
.logo img{
    width: 150px;
}

.list li{
    list-style: none;
    display: inline-block;
    padding:1.5rem 0.5rem;
    
}
.list a{
    text-decoration: none;
    color:white;
    font-size: 15px;
}
.list li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#f44336;
    display:block;    
    margin:auto;
    transition: 0.5s;
}
.list li:hover::after{
    width: 100%;
}
.text-box h1{
    font-size: 64px;
    margin-bottom: 5vh;
}
.text-box{
    width: 90%;
    font-size: 14px;
    color:white;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
    position:absolute;
}
.text-box p{
    margin-bottom: 40px;
}
.text-box a{
    display: inline-block;
    text-decoration: none;
    color:white;
    border:1px solid white;
    padding: 12px 34px;
    background:transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
    
}
.text-box a:hover{
    background-color:#f44336;
    border:1px solid #f44336;
}
nav .fa{
    display: none;
    
}
@media(max-width:700px){
    .header{
        min-width: 100%;
    }
    .text-box h1{font-size: 20px;}
    .list li{
        display: block;
        padding:5% 8%;
        margin-top: 1.5rem;
    
    }
    .list{
        position: absolute;
        height: 100vh;
        width: 200px;
        background-color: #f44556;
        z-index: 2;
        top:0;
        right:0;
        text-align: left;
        transition:1s;
        display: none;
    }

    nav .fa{
        display: block;
        color:#fff;
        margin:10px;
        z-index: 3;
        font-size: 22px;
        cursor:pointer;
        
    }
    nav .fa-bars{
        z-index: 1;
    }
    
}

/*-------------course----------- */

.courses{
    text-align: center;
    margin-top: 6rem;
    font-size: 15px;
    margin:5%;
}
.courses h1{
    margin-bottom: 1.5rem;
    font-size: xx-large;
}
.courses p{
    color: gray;
}

.course-cards{
    display: flex;
    justify-content: space-between;
    

}
.card{
    
    border: 1px rgba(255,204,204,0.2) solid;
    background-color: rgba(255,204,204,0.2);
    border-radius: 6px;
    width:300px;
    padding: 1.5rem;
    margin-top: 3rem;
}
.card:hover{
 box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
 transition: 0.5s;
}
.card h1{
    text-decoration: underline;
    font-size:18px;
    font-weight: 900px;
   
}

@media(max-width:700px) {
    .course-cards{
        flex-direction: column;
        font-size: 13px;
    }
    .card{
        width:250px;
        text-align: center;
        align-self: center;
    }
    .courses h1{
        font-size: large;
    }
    
}

/* --------------KEY FEATURES----------------*/
.key-features{
    text-align: center;
    margin: 6%;
}
.key-features h1{
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}
.key-features p{
    font-size: 15px;
    color: gray;
    margin: 1.5rem;
}
.feature-cards{
    display: flex;
    align-self: center;
    text-align: center;
    padding-top: 50px;
    margin-left: 1%;
}
.single-feature-card img{
    border-radius: 10px;
    width: 95%;
    display: block;
}
.single-feature-card{
    
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.layer{
    background:transparent;
    height: 100%;
    width: 95%;
    position: absolute;
    top:0px;
    left:0px;
    border-radius: 10px;
    transition: 0.5s;
}
.card1 .layer:hover{
    background:rgba(199, 216, 48, 0.7);
}
.card2 .layer:hover{
    background:rgba(45, 90, 59, 0.7);
}
.card3 .layer:hover{
    background:rgba(122, 40, 199, 0.7);
}
.layer h3{
    width: 100%;
    margin-top: 60%;
    color: white;  
    position: absolute;
    opacity: 0;
    transition: 1s;
    
}
.layer:hover h3{
    opacity: 1;
}

@media(max-width:700px) {
    .feature-cards{
        flex-direction: column;
        align-self: center;
        
    }
.single-feature-card {
    align-self: center;
    align-content: center;
    margin-left: 3%;
}
.key-features h1{
    font-size: x-large;
}


    
}

/*  facilities */
.our-facilities{
    text-align: center;
    margin:6%;
}
.our-facilities p{
    color:gray;
    font-size: 14px;
    color: gray;
}
.our-facilities h1{
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}
.facilites{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.facility-column img{
    margin-top: 10vh;
    width: 20rem;
    border-radius: 10px;
    
}
.facility-column h3{
    text-align: left;
    width: 19rem;
    margin: 1rem 0rem 1rem 0rem;
}
.facility-column p{
text-align: left;
width: 19rem;
font-size: 14px;
}

.learn-more{
    border: 1px solid #f44336;
    text-align: center;
    width: 9rem;    
}
.learn-more a{
    text-decoration: none;
    text-align: center;
    
}
.learn-more p{
    color:black;
    width:9rem;
    text-align: center;
    padding: 2vh 0 2vh 0;
}
.learn-more:hover, .learn-more p:hover{
    transition: 1s;
    background-color: #f44336;
    color: white;
}
@media(max-width:700px) {
    .facilites{
        flex-direction: column;
        justify-content: center;
    }
    .our-facilities h1{
    font-size: x-large;
    }
    
}
/*----------------Comments---------------- */

.comments{
    margin: 10%;
}

.comments h1{
text-align: center;
font-size: 2.5rem;
margin-bottom: 1rem;
}
.comments p{
    font-size: 14px;
    text-align: center;
    color: gray;
    margin-bottom: 1rem;
}
.feedback{
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
}
.col{
    background-color: rgba(255,204,204,0.3);
    border-radius: 10px;
    max-width: 43%;
    display: flex;
    padding: 2rem;
    
}
.text{
    padding-left: 1.5rem;
}
.text p{
    text-align: left;
    padding-bottom: 1rem;
    
}
.text i{
    margin-top: 1rem;
    color:red;
}


.comments img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
}
@media(max-width:700px){
    .feedback{
        flex-direction: column;
        margin-top: 0;
    }
    .col{
        max-width: 100%;
        margin-bottom: 1rem;
    }
    
    .comments h1{
        font-size: x-large;
    }
    .comments h3{
        font-size:small;
    }

}


/*  Contact-us  */

.contact-us{
    margin-bottom: 8rem;
    min-height: 60vh;
    min-width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)), url(images/about.jpg);
    background-position: center;
    border-radius: 10px;
    background-size: cover;
    position:relative;
    color: white;
    text-align: center;
    font-size: 25px;
}
.contact-us h1{
    padding: 15vh 0 2vh 0;
    margin-bottom: 2rem;
}
.contact-us a{
    background:transparent;
    color: white;
    text-decoration: none;
    border-style: none;
    border: 1px solid;
    padding: 0.8rem 2rem 0.8rem 2rem;
    font-size: small;
}
.contact-us a:hover{
    background-color: #f44336;
    border-color: #f44336;
    transition: 1s;
}
@media(max-width:700px){
    .contact-us h1{
        font-size: 20px;
    }
}


/* Footer */
.footer{
    
    min-height: 50vh;
    min-width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)), url(images/safe.png);
    background-position: center;
    background-size: cover;
    position:relative;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
}
.footer h3{
    padding-top: 3rem;
    margin-bottom:3rem ;
}
.social{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.social i{
    margin-right: 1.4rem;
    font-size: 1.3rem;
}
@media(max-width:700px){
    .footer{
        border-radius: 0px;
        min-height: 60vh;
    }
    .social{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}