*{
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;

}
.header{
    min-height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position:relative;
    
    

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 6%;
    position: relative;
}
.logo img{
    width: 150px;
}

.list li{
    list-style: none;
    display: inline-block;
    padding:1.5rem 0.5rem;
    
}
.list a{
    text-decoration: none;
    color:white;
    font-size: 15px;
}
.list li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#f44336;
    display:block;    
    margin:auto;
    transition: 0.5s;
}
.list li:hover::after{
    width: 100%;
}
.text-box h1{
    font-size: 64px;
    margin-bottom: 5vh;
}
.text-box{
    width: 90%;
    font-size: 14px;
    color:white;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
    position:absolute;
}
.text-box p{
    margin-bottom: 40px;
}
.text-box a{
    display: inline-block;
    text-decoration: none;
    color:white;
    border:1px solid white;
    padding: 12px 34px;
    background:transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
    
}
.text-box a:hover{
    background-color:#f44336;
    border:1px solid #f44336;
}
nav .fa{
    display: none;
    
}
@media(max-width:700px){
    .text-box h1{font-size: 20px;}
    .list li{
        display: block;
        padding:5% 8%;
        margin-top: 1.5rem;
    
    }
    .list{
        position: absolute;
        height: 100vh;
        width: 200px;
        background-color: #f44556;
        z-index: 2;
        top:0;
        right: -200px;
        text-align: left;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color:#fff;
        margin:10px;
        z-index: 3;
        font-size: 22px;
        cursor:pointer;
        
    }
    nav .fa-bars{
        z-index: 1;
    }
}

/*-------------course----------- */

.courses{
    text-align: center;
    margin-top: 6rem;
    font-size: 15px;
    margin:5%;
}
.courses h1{
    margin-bottom: 1.5rem;
    font-size: xx-large;
}
.courses p{
    color: gray;
}

.course-cards{
    display: flex;
    justify-content: space-between;
    

}
.card{
    
    border: 1px rgba(255,204,204,0.2) solid;
    background-color: rgba(255,204,204,0.2);
    border-radius: 6px;
    margin-right: 3rem;
    width:70%;
    padding: 1.5rem;
    margin-top: 3rem;
}
.card:hover{
 box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
 transition: 0.5s;
}
.card h1{
    text-decoration: underline;
    font-size:18px;
    font-weight: 900px;
   
}

@media(max-width:700px) {
    .course-cards{
        flex-direction: column;
        margin-left: 7%;
        font-size: 13px;
    }
    
}
