*{
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;

}
.header{
    min-height: 50vh;
    min-width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 6%;
    position: relative;
}
.logo img{
    width: 150px;
}

.list li{
    list-style: none;
    display: inline-block;
    padding:1.5rem 0.5rem;
    
}
.list a{
    text-decoration: none;
    color:white;
    font-size: 15px;
}
.list li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#f44336;
    display:block;    
    margin:auto;
    transition: 0.5s;
}
.list li:hover::after{
    width: 100%;
}
.text-box h1{
    font-size: 35px;
    padding-top: 25vh;
}
.text-box{
    width: 90%;
    font-size: 14px;
    color:white;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
    position:absolute;
}
.text-box p{
    margin-bottom: 40px;
}
.text-box a{
    display: inline-block;
    text-decoration: none;
    color:white;
    border:1px solid white;
    padding: 12px 34px;
    background:transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
    
}
.text-box a:hover{
    background-color:#f44336;
    border:1px solid #f44336;
}
nav .fa{
    display: none;
    
}
@media(max-width:700px){
    .header{
        min-width: 100%;
    }
    .text-box h1{font-size: 20px;}
    .list li{
        display: block;
        padding:5% 8%;
        margin-top: 1.5rem;
    
    }
    .list{
        position: absolute;
        height: 100vh;
        width: 200px;
        background-color: #f44556;
        z-index: 2;
        top:0;
        right:0;
        text-align: left;
        transition:1s;
        display: none;
    }

    nav .fa{
        display: block;
        color:#fff;
        margin:10px;
        z-index: 3;
        font-size: 22px;
        cursor:pointer;
        
    }
    nav .fa-bars{
        z-index: 1;
    }
    
}
/* Certificate*/
.certificate{
    display: flex;
    margin: 10%;
}
.certificate img{
    width: 100%;
    height: 30%;
    
}
.image-text-input h1{
    margin-top:2rem ;
    margin-bottom: 2rem;
}
.image-text-input p{
    color: gray;
    font-size: 15px;
    margin-bottom: 2rem;
}
.input-comment{
    border: 1px solid;
    border-color: grey;
    margin-bottom: 5rem;
}
.input-comment h3{
   margin: 1rem;
}
.input-comment label{
    
    
    display:flex;
    flex-direction: column;
}
.input-comment input{
    margin: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(235, 233, 233);
    border-color: rgb(235, 233, 233);
    text-decoration: none;
    
}



.post-catagories{
    min-width: 32%;
    margin-left: 2rem;
    
}
.post-catagories h3{
    margin-top: 0.5rem;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #f44336;
    text-align: center;
    margin-bottom: 3rem;
}
.index{
    display: flex;
    justify-content: space-between;
    margin-top: 1.1rem;
    margin-left: 1rem;
    font-size: 13px;
}

@media(max-width:700px){
    .certificate{
    flex-direction:column;
    }
    
}




/* Footer */
.footer{
    
    min-height: 50vh;
    min-width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)), url(../images/safe.png);
    background-position: center;
    background-size: cover;
    position:relative;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
}
.footer h3{
    padding-top: 3rem;
    margin-bottom:3rem ;
}
.social{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.social i{
    margin-right: 1.4rem;
    font-size: 1.3rem;
}
@media(max-width:700px){
    .footer{
        border-radius: 0px;
        min-height: 60vh;
    }
    .social{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}